.bright {
  background: MediumSeaGreen;
}

.commandRow {
  display: flex;
  height: 64pt;
  justify-content: center;
  width: 100%;
}

.darkBackground {
	background-color: #112222;
}

.desktop {
  background-color: rgb(175, 175, 175);
  height: 100%;
}

.launched .main {
	background-color: rgb(32, 16, 16);
}

.desktop .main {
	font-size: 24px;
}

.homeButton {
  background-color: rgb(80, 80, 90);
  color: white;
  font-style: italic;
}

.launched {
  display: flex;
  flex-direction: column;
}

.lightCommand {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 1;
  justify-content: center;
}

.main {
	align-items: center;
  background: #eee;
  display: flex;
  flex-direction: column;
  font-family: "Arial", Helvetica, sans-serif;
  height: 98%;
  justify-content: center;
}

.mobile {
	background-color: rgb(64, 32, 32);
	font-size: 3em;
	height: 100%;
}

.mobile .launched {
  background: rgb(32, 16, 16);
  font-size: 4em;
}

.mobile .commandRow {
  height: 160pt;
}

.mobile .statusColumn {
	height: 160px;
}

.mobile .title {
	height: 120pt;
}

.statusColumn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.statusRow  {
	cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 32px;
  padding: 16px;
  width: 100%;
}

.title {
  display: flex;
  font-style: italic;
  height: 36pt;
}

.tv {
	font-size: 32pt;
}

.tv .launched {
  background: rgb(32, 16, 16);
}
